.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85%;
  width: 80%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 90%;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  border: rgba(255, 255, 255, 0.2) solid 1px;
}

.miniContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95%;
  width: 95%;
}

.inputSection {
  display: flex;
  flex-direction: column;
  height: 17%;
  align-items: left;
  width: 80%;
  color: white;
  font-size: larger;
}

.inputSection input {
  width: 100%;
  margin-top: -10px;
  border-radius: 10px;
  border: 0px;
  height: 25%;
  padding: 2%;
}

.btn {
  width: 30%;
  margin-top: 40px;
  border-radius: 10px;
  border: 0px;
  height: 8%;
  padding: 2%;
  color: rgb(53, 53, 53);
  font-size: 1.1rem;
}

h1 {
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 50px;
  text-align: center;
}

.hidden {
  opacity: 0;
}

.errorText {
  color: rgb(204, 73, 90);
}

.back {
  color: white;
  position: fixed;
  top: 15%;
  left: 10%;
}

.button {
  width: 60%;
  margin: 20px;
  border-radius: 10px;
  border: 0px;
  height: 10%;
  padding: 2%;
  color: rgb(53, 53, 53);
  font-size: 1.1rem;
}
