.box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 85%;
	width: 80%;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 80%;
	width: 100%;
	background: rgba(255, 255, 255, 0.3);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	border-radius: 10px;
	border: rgba(255, 255, 255, 0.2) solid 1px;
}

.inputSection {
	display: flex;
	flex-direction: row;
	height: 7%;
	align-items: center;
	width: 90%;
	justify-content: space-between;
}

h1 {
	color: rgba(255, 255, 255, 0.9);
}

.invalidMail {
	color: red;
}
